@import url('https://fonts.googleapis.com/css?family=Poppins:300,400, 500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
body{
    background: black;
}
header{
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover{
    background: white;
    color: black;
}
p {
  color: black;  
  margin: 20px;
  margin-right: 50vw;
}
h1{
    color: black;
    margin: 20px;
}
div.data{
    margin-top: 100vh;
    background: white;
}
.ExploreBtn{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
}
.ExploreBtn:hover{
    background: black;
    color: white;
}
div.ex_btn{
    margin-bottom: 30px;
}
div.About{
    margin-bottom: 100vh;
}
div.Work{
    margin-bottom: 100vh;
}
footer{
    width: 100%;
    height: 20px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li{
    list-style: none;
    margin-left: 20px;
}
footer ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
footer ul li a:hover{
    background: white;
    color: black;
}
 